body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
  color: grey;
  margin-left: 20%;
  margin-right: 20%;
}


.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.green-dot {
  color: #00b39b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: #00b39b;
  font-weight: bold;
}

.paragraphs {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  gap: 1rem;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: white;
}

.logo-img {
  width: 40px;
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 300px;
  padding: 2rem;
  border-radius: 8px;
  color: white;
}

.patient {
  background-color: #00b39b;
}

.doctor {
  background-color: #3d83df;
}

.clinic {
  background-color: #1b2734;
}

footer {
  text-align: center;
  padding: 2rem;
  background: #eee;
  margin-top: 3rem;
}
